
.table {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 4px solid #282c34;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 999;
}

.table-column {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid #9E9E9E;
}

.table-content {
    margin-top: 85px;
}

.table > div,
.table-column > div {
    width: 14.28%;
}

.active {
    position: relative;
    display: inline;
}
.active:before {
    content: '';
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50px;
    margin: 6px 4px;
    position: absolute;
    left: -20px;
    top: 0;
}