
.table > div,
.table-column > div {
    width: 14.28%;
}

.active {
    position: relative;
    display: inline;
}
.active:before {
    content: '';
    width: 10px;
    height: 10px;
    background: #0dee12;
    border-radius: 50px;
    margin: 6px 4px;
    position: absolute;
    left: -20px;
    top: 0;
}

td.table-campaign {
    font-weight: bold;
}

.table-sign {
    font-size: 16px;
    color: #333333;
}